@{
    ViewBag.Title = "Home Page";
}


<div class="row">
    <div class="col-md-12">


        <p style="margin-top:20px">
            <button class="btn btn-light col-md-12" type="button" data-toggle="collapse" data-target="#collapse1" aria-expanded="false" aria-controls="collapse1">
                გაყიდვები კონსულტანტების მიხედვით
            </button>
            <button class="btn btn-light col-md-12" type="button" data-toggle="collapse" data-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
                გაყიდვები პროდუქციის ფასების მიხედვით
            </button>
            <button class="btn btn-light col-md-12" type="button" data-toggle="collapse" data-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
                კონსულტანტები ხშირად გაყიდვადი პროდუქტების მიხედვით
            </button>
            <button class="btn btn-light col-md-12" type="button" data-toggle="collapse" data-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
                კონსულტანტები ჯამური გაყიდვების მიხედვით
            </button>
            <button class="btn btn-light col-md-12" type="button" data-toggle="collapse" data-target="#collapse5" aria-expanded="false" aria-controls="collapse5">
                კონსულტანტები ყველაზე გაყიდვადი პროდუქტების მიხედვით
            </button>
        </p>

        <div class="collapse" id="collapse1">
            <h4>გაყიდვები კონსულტანტების მიხედვით</h4>
            <div class="card card-body">
                <div class="col col-sm-5">
                    <input type="text" class="form-control datepicker" id="startDate" name="StartDate">
                </div>
                <div class="col col-sm-5">
                    <input type="text" class="form-control datepicker" id="endDate" name="EndDate">
                </div>
                <div class="col col-sm-2">
                    <button class="btn btn-info btn-sm loadSalesByConsultants" type="button">
                        <i class="fa fa-refresh size-18">&nbsp;ჩატვირთვა</i>
                    </button>
                </div>
                <table id="salesByConsultants" class="table table-striped">
                    <thead>
                        <tr>
                            <th>გაყიდვის ნომერი</th>
                            <th>გაყიდვის თარიღი</th>
                            <th>კონსულტანტის ნომერი</th>
                            <th>კონსულტანტის სახელი და გვარი</th>
                            <th>კონსულტანტის პირადი ნომერი</th>
                            <th>გაყიდული პროდუქტის ჯამური რაოდენობა</th>
                            <th>გაყიდული პროდუქტის ჯამური თანხა</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>


        <div class="collapse" id="collapse2">
            <h4>გაყიდვები პროდუქციის ფასების მიხედვით</h4>
            <div class="col col-sm-3">
                <input type="text" class="form-control datepicker" id="startDate2" name="StartDate2">
            </div>
            <div class="col col-sm-3">
                <input type="text" class="form-control datepicker" id="endDate2" name="EndDate2">
            </div>
            <div class="col col-sm-3">
                <input type="number" class="form-control" id="minPrice">
            </div>
            <div class="col col-sm-2">
                <input type="number" class="form-control" id="maxPrice">
            </div>
            <div class="col col-sm-1">
                <button class="btn btn-info btn-sm loadSalesByProductPrice" type="button">
                    <i class="fa fa-refresh size-18">&nbsp;ჩატვირთვა</i>
                </button>
            </div>
            <table id="salesByProductPrice" class="table table-striped">
                <thead>
                    <tr>
                        <th>გაყიდვის ნომერი</th>
                        <th>გაყიდვის თარიღი</th>
                        <th>კონსულტანტის ნომერი</th>
                        <th>კონსულტანტის სახელი და გვარი</th>
                        <th>კონსულტანტის პირადი ნომერი</th>
                        <th>გაყიდული პროდუქტის რაოდენობა</th>

                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>

        <div class="collapse" id="collapse3">
            <h4>კონსულტანტები ხშირად გაყიდვადი პროდუქტების მიხედვით</h4>
            <div class="col col-sm-3">
                <input type="text" class="form-control datepicker" id="startDate3">
            </div>
            <div class="col col-sm-3">
                <input type="text" class="form-control datepicker" id="endDate3">
            </div>
            <div class="col col-sm-3">
                <input type="text" class="form-control" id="productCode">
            </div>
            <div class="col col-sm-2">
                <input type="number" class="form-control" id="minQuantityOfProducts">
            </div>
            <div class="col col-sm-1">
                <button class="btn btn-info btn-sm loadConsultantsByProductQuantity" type="button">
                    <i class="fa fa-refresh size-18">&nbsp;ჩატვირთვა</i>
                </button>
            </div>
            <table id="consultantsByProductQuantity" class="table table-striped">
                <thead>
                    <tr>
                        <th>კონსულტანტის ნომერი</th>
                        <th>კონსულტანტის სახელი და გვარი</th>
                        <th>კონსულტანტის პირადი ნომერი</th>
                        <th>კონსულტანტის დაბადების თარიღი</th>
                        <th>პროდუქტის კოდი</th>
                        <th>გაყიდვების რაოდენობა</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>


        <div class="collapse" id="collapse4">
            <h4>კონსულტანტები ჯამური გაყიდვების მიხედვით</h4>
            <div class="col col-sm-5">
                <input type="text" class="form-control datepicker" id="startDate4">
            </div>
            <div class="col col-sm-5">
                <input type="text" class="form-control datepicker" id="endDate4">
            </div>
            <div class="col col-sm-2">
                <button class="btn btn-info btn-sm loadConsultantsBySummedSales" type="button">
                    <i class="fa fa-refresh size-18">&nbsp;ჩატვირთვა</i>
                </button>
            </div>
            <table id="consultantsBySummedSales" class="table table-striped">
                <thead>
                    <tr>
                        <th>კონსულტანტის ნომერი</th>
                        <th>კონსულტანტის სახელი და გვარი</th>
                        <th>კონსულტანტის პირადი ნომერი</th>
                        <th>კონსულტანტის დაბადების თარიღი</th>
                        <th>საკუთარი გაყიდვების ჯამი</th>
                        <th>მთელი იერარქიის ჯამი</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>


        <div class="collapse" id="collapse5">
            <h4>კონსულტანტები ყველაზე გაყიდვადი პროდუქტების მიხედვით</h4>
            <div class="col col-sm-5">
                <input type="text" class="form-control datepicker" id="startDate5">
            </div>
            <div class="col col-sm-5">
                <input type="text" class="form-control datepicker" id="endDate5">
            </div>
            <div class="col col-sm-2">
                <button class="btn btn-info btn-sm loadConsultantsByTopSoldProducts" type="button">
                    <i class="fa fa-refresh size-18">&nbsp;ჩატვირთვა</i>
                </button>
            </div>
            <table id="consultantsByTopSoldProducts" class="table table-striped">
                <thead>
                    <tr>
                        <th>კონსულტანტის ნომერი</th>
                        <th>კონსულტანტის სახელი და გვარი</th>
                        <th>კონსულტანტის პირადი ნომერი</th>
                        <th>კონსულტანტის დაბადების თარიღი</th>
                        <th>ხშირად გაყიდვადი პროდუქტის კოდი</th>
                        <th>ხშირად გაყიდვადი პროდუქტის დასახელება</th>
                        <th>ხშირად გაყიდვადი პროდუქტის რაოდენობა</th>
                        <th>შემოსავლიანი პროდუქტის კოდი</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>

</div>

@section scripts{

    <script src="~/Scripts/js/analytics.js"></script>

}